/* General */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: #676666;
}

h1 {
  font-size: 26px;
  font-weight: 400;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.section-heading {
  padding: 16px 0;
}

.w-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section {
  padding: 16px;
}
/* Grid Layout */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 65px 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
}

/* Colors */

.header {
  color: white;
  background-color: #7377BF;
}

.nav {
  color: white;
  background-color: #4D4C72;
}

/* Layout Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details img {
  max-width: 30px;
  max-height: 30px;
}

.profile-pic {
  border-radius: 15px;
  margin: 0px 16px;
}

.notification {
  padding-right: 16px;
  transform-origin: 50% 0%;
}

.divider {
  font-size: 24px;
  color: #4D4C72;
}

/* Notification */

@keyframes ring {
  20% {
    transform: rotate(10deg)
  }
  40% {
    transform: rotate(0deg)
  }
  60% {
    transform: rotate(-10deg)
  }
  80% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(10deg)
  }
}

.notification:hover {
  animation: ring .5s;
  }

/* Layout Nav */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item  img{
  width: 30px;
  height: 30px;
  padding: 16px 30px;
  margin: 16px 0px;
  position: relative;
  opacity: 0.5;
}

.nav-item.active  img{
  opacity: 1;
  border-bottom: 6px solid #85DB80;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  .nav-item.active  img{
    opacity: 1;
    border-bottom: none;
    border-left: 6px solid #85DB80;
  }
}

/* Layout Dashboard */



.tabs {
  background-color: #FBFBFB;
  border-bottom: 1px solid #DFDFDF;
}

.tab {
  display: inline-block;
  background-color: white;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  border-right: 1px solid #DFDFDF;
}

.tabs h2 {
  padding: 0px 16px;
}

/* Alert */

#alert {
  background-color: #7377BF;
  border-radius: 5px;
  color: white;
  margin: 16px;
}

#alert p {
  margin: 0px;
  padding: 16px;
  display: inline-block;
}

#alert .close-button {
  float: right;
  padding: 16px;
}

/* Traffic */

.traffic {
  border-bottom: 1px solid #DFDFDF;
}

.traffic .section-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.traffic .filter-options {
  font-size: 12px;
  color: #AAAAAA;
  font-weight: bold;
}

.traffic .filter-options a {
  padding: 6px 12px;
}

.traffic .filter-options .active {
  background-color: #85DB80;
  border-radius: 20px;
  color: white;
}

/* Daily Traffic */

.daily-traffic, .mobile-users {
  padding-right: 32px;
  border-bottom: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
}

/* Social Platforms */

.social-stats {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 32px;
}

.platforms {
  display: flex;
  flex-direction: row;
}

.platform {
  flex-grow: 3;
  padding: 16px;
  background-color: #FBFBFB;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.platform p {
  color: #7377BF;
  font-weight: bold;
  margin: 0px;
}

.platform .social-number {
  font-size: 32px;
  font-weight: normal;
  color: #676666;
}

.social-icon {
  padding: 25px;
  border-radius: 60px;
  background-color: #7377BF;
}

.social-description {
  margin-left: 24px;
}

/* New Members  & Recent Activity */

.new-members, .recent-activity {
  border-right: 1px solid #DFDFDF;
  padding-right: 32px;
  padding-bottom: 64px;
  border-bottom:  1px solid #DFDFDF;
}

.members {
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #DFDFDF;
}

.member img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 12px;
}

.member p {
  margin: 0;
}

.member .email {
  font-size: 12px;
  color: #7377BF;
}

.member .date {
  font-size: 12px;
  margin-left: auto;
}

/* Recent Activity */

.member .more {
  font-size: 16px;
  margin-left: auto;
  color: #7377BF;
}

.member .time {
  font-size: 12px;
}