/* General */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: #676666;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.section-heading {
  padding: 16px 0;
}

.w-50 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

}

.section {
  padding: 16px;
}

.primary {
  width: 100%;
  padding: 12px;
  background-color: #7377BF;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  border: none;
  margin-bottom: 12px;
}

.secondary {
  width: 100%;
  padding: 12px;
  background-color: #AAAAAA;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 0px;
  margin-bottom: 12px;
}
@media (min-width: 320px) {
  h1 {
    font-size: 18px
  }
  h2 {
    font-size: 18px
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
    font-weight: 400;
  }

  h2 {
    font-size: 24px;
  }

  .w-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .secondary {
    margin-left: 12px;
  }
}
/* Grid Layout */


.container {
  display: grid;
  grid-template-rows: 80px 65px 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "header header"
      "nav main";
  }
}

/* Colors */

.header {
  color: white;
  background-color: #7377BF;
}

.nav {
  color: white;
  background-color: #4D4C72;
}

/* Layout Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details img {
  max-width: 30px;
  max-height: 30px;
}

.profile-pic {
  border-radius: 15px;
  margin: 0px 12px;
}

.notification {
  padding-right: 12px;
  transform-origin: 50% 0%;
}

.divider {
  font-size: 24px;
  color: #4D4C72;
}

@media (min-width: 768px) {
  .notification {
    padding-right: 16px;
    transform-origin: 50% 0%;
  }
  .profile-pic {
    border-radius: 15px;
    margin: 0px 16px;
  }
}

/* Notification */

@keyframes ring {
  20% {
    transform: rotate(10deg)
  }
  40% {
    transform: rotate(0deg)
  }
  60% {
    transform: rotate(-10deg)
  }
  80% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(10deg)
  }
}

.notification:hover {
  animation: ring .5s;
  }

/* Layout Nav */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item  img{
  width: 25px;
  height: 30px;
  padding: 17px 25px;
  margin: 16px 0px;
  position: relative;
  opacity: 0.5;
}

.nav-item.active  img{
  opacity: 1;
  border-bottom: 6px solid #85DB80;
}

@media (min-width: 768px) {

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  .nav-item.active  img{
    opacity: 1;
    border-bottom: none;
    border-left: 6px solid #85DB80;
    width: 30px;
    height: 30px;
    padding: 16px 30px;
  }
}

/* Layout Dashboard */



.tabs {
  background-color: #FBFBFB;
  border-bottom: 1px solid #DFDFDF;
}

.tab {
  display: inline-block;
  background-color: white;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  border-right: 1px solid #DFDFDF;
}

.tabs h2 {
  padding: 0px 16px;
}

.main-search {
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  float: right;
  margin: 14px;
  width: 120px;

}

@media (min-width: 768px) {
  .main-search {
    padding: 12px;
    width: 250px;
  }
}

/* Alert */

#alert {
  background-color: #7377BF;
  border-radius: 5px;
  color: white;
  margin: 16px;
}

.alert-message {
  display: flex;
  flex-direction: row;
}

#alert p {
  margin: 0px;
  padding: 16px;
  display: inline-block;
}

#alert .close-button {
  margin-left: auto;
  padding: 16px;
}

/* Traffic */

.traffic {
  border-bottom: 1px solid #DFDFDF;
}

.traffic .section-heading {
  display: flex;
  flex-direction: column;
}

.traffic .filter-options {
  font-size: 12px;
  color: #AAAAAA;
  font-weight: bold;
  padding: 12px 0;
}

.traffic .filter-options a {
  padding: 6px 6px;
}

.traffic .filter-options .active {
  background-color: #85DB80;
  border-radius: 20px;
  color: white;
}

@media (min-width: 320px) {
  .traffic .filter-options a {
    padding: 6px 12px;
  }
  .traffic .section-heading {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .traffic .section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .traffic .filter-options {
    padding: 0px;
  }
}

/* Daily Traffic */

.daily-traffic, .mobile-users {
  padding-right: 32px;
  border-bottom: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
}

/* Social Platforms */

.social-stats {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 32px;
}

.platforms {
  display: flex;
  flex-direction: column;
}

.platform {
  flex-grow: 3;
  padding: 16px;
  background-color: #FBFBFB;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

}

.platform p {
  color: #7377BF;
  font-weight: bold;
  margin: 0px;
}

.platform .social-number {
  font-size: 32px;
  font-weight: normal;
  color: #676666;
}

.social-icon {
  padding: 25px;
  border-radius: 60px;
  background-color: #7377BF;
}

.social-description {
  margin-left: 24px;
}

@media (min-width: 768px) {
  .platforms {
    display: flex;
    flex-direction: row;
  }
  .platform {
    margin-bottom: 0px;
  }
}

/* New Members  & Recent Activity */

.new-members, .recent-activity {
  border-right: 1px solid #DFDFDF;
  padding-right: 32px;
  padding-bottom: 64px;
  border-bottom:  1px solid #DFDFDF;
}

.members {
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #DFDFDF;
}

.member img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 12px;
}

.member p {
  margin: 0;
}

.member .email {
  font-size: 12px;
  color: #7377BF;
}

.member .date {
  font-size: 12px;
  margin-left: auto;
}

/* Recent Activity */

.member .more {
  font-size: 16px;
  margin-left: auto;
  color: #7377BF;
}

.member .time {
  font-size: 12px;
}

/* Message users */

.message-users,
.settings {
  padding-right: 32px;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}

#user,
#message {
  width: 100%;
  background-color: #FBFBFB;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-bottom: 12px;
}

#user {
  padding: 12px;
}

#message {
  min-height: 150px;
}

/* Settings */

.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.switch-container p {
  min-width: 200px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
}

.switch input {
  opacity: 0;
}

.switch {
  position: relative;
  width: 100px;
  height: 31px;
}
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #FBFBFB;
  border: 2px solid #DFDFDF;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  top: 3px;
  left: 3px;
  background-color: white;
  border: 2px solid #DFDFDF;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #7377BF;
}

input:checked + .slider:before {
  transform: translateX(68px);
}

select {
  padding: 12px;
  width: 100%;
  background-color: #FBFBFB;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-bottom: 12px;
  color: #676666;
}

#timezone {
  margin-bottom: 60px;
}
